<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SchoolSync"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolSync"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxZdirk-nVzH8doilV1kjOxnEYNRC4NQg" />


        <activity
            android:name=".ui.activity.BusRouteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewClassesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BusRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BusTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChildSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SendNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewGradesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CaptureTimetableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CaptureAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CaptureGradeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SelectClassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LocationPickerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StartNewMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EnterCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>